@model MiHotel.Common.Entities.Habitacion

@{
    ViewData["Title"] = "CreateHabitacion";
}

<h1>Alta</h1>

<h4>Habitación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateHabitacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroStr" class="control-label"></label>
                <input asp-for="NumeroStr" class="form-control" />
                <span asp-validation-for="NumeroStr" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="EspMacAdd" class="control-label"></label>
                <input asp-for="EspMacAdd" class="form-control" />
                <span asp-validation-for="EspMacAdd" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="HotelId"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
